dist
*.so
MANIFEST
*.py[cod]
*.egg-info
.mypy_cache
.benchmarks
.DS_Store
_build
_generate
build
__pycache__
Pipfile.lock
.eggs
py37
var
venv
.pytest_cache
notebook/.ipynb_checkpoints
src/jacobi/_version.py
doc/index.rst
.vscode
.coverage
