name: publish

on:
  release:
    tags:
      - '**'
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - run: |
        python -m pip install --upgrade pip wheel
        python -m pip install -e .
        python setup.py sdist bdist_wheel

    - run: |
        python -m venv test
        ./test/bin/activate
        ls dist
        python -m pip install $(echo dist/jacobi-*.whl)'[test]'
        python -m pytest

    - uses: pypa/gh-action-pypi-publish@master
      if: github.ref_type == 'tag'
      with:
        user: __token__
        password: ${{secrets.PYPI_TOKEN}}
